/*
Style sheet for WPPLP by AliShirali
*/

.login-section{
	
	background-color:white;
	padding:15px;
	box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
	border-right:8px solid #a4c639;
	border-radius: 8px;
	margin-top:10px;
	margin-bottom: 10px;
	overflow: hidden;
	white-space:wrap;
	font-size:16px;

}

#lock-icon{
	opacity:0.3;
	font-size:4em;
	float:right;
	margin-top:auto;
	margin-bottom:auto;
	right:5px;
}